html {
    background-color: #2a2932;
    font-size: x-large;
    color: #ebd3d3;
}

h1 {
    margin-top: 0;
}

#wrapper {
    padding: 2rem;
}

div {
    margin-bottom: 0.3rem;
}

#map {
    margin-top: 1rem;
    width: 100%;
    height: 600px;
}